@import "../../styles/var";

.UpdatableCard {
  background: #15232c;

  .ant-card-head-title {
    color: white;

    .titleWithUpdateTime {
      line-height: 1;
      display: flex;
      align-items: center;

      > .updateTime {
        margin-left: 8px;
        font-size: 10px;
        color: #999;
      }
    }
  }
  .ant-card-body {
    color: white;
  }

  &.noContentPadding {
    .ant-card-body {
      padding: 0;
    }
  }
}
