@import "../../styles/var";

.RecentTrades {
  .TradeHistoryContainer {
    .TradeHistoryContainer_item {
      display: flex;

      @include listHoverAnimation;

      height: 18px;
      line-height: 16px;

      font-size: 10px;
      font-family: AtlasTypewriter;


      > .volume {
        flex: 1;
        margin-left: 8px;
      }

      > .price {
        flex: 1;
        display: flex;
        &.buy {
          color: $main-buy-color;
        }

        &.sell {
          color: $main-sell-color;
        }

        > .icon {
          flex: 0 0 20px;
          text-align: center;

          &.plusTick,
          &.ZeroPlusTick {
            //color: $main-buy-color;
          }

          &.minusTick,
          &.ZeroMinusTick {
            //color: $main-sell-color;
          }
        }
      }

      > .time {
        flex: 1;
        color: #697277;
        margin-right: 8px;
        text-align: center;
      }
    }
  }
}
