@import "../../styles/var";

.OrderBook {
  .OrderBookContainer {
    height: 100%;
    display: flex;
    flex-direction: column;

    .OrderBookInnerHeader {
      height: 40px;
      display: flex;
      //justify-content: center;
      //background-color: red;

      .sideBtns {
        display: flex;
        align-items: center;

        .ant-btn {
          margin-left: 8px;
        }
      }
    }

    .centeredContent {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .OrderBookItem {
      display: flex;
      @include animationAllFast;

      height: 18px;
      line-height: 16px;

      font-size: 10px;
      font-family: AtlasTypewriter;

      &:hover,
      &:active {
        background-color: #3a444d;
      }

      > .price {
        flex: 1;
        margin-left: 8px;
      }

      > .size {
        flex: 1;
      }

      > .accumulateSize {
        flex: 1;
        margin-right: 8px;
      }
    }

    .asks {
      .OrderBookItem {
        > .price {
          color: $main-sell-color;
        }
      }
    }

    .bids {
      .OrderBookItem {
        > .price {
          color: $main-buy-color;
        }
      }
    }

    .MarketPrice {
      font-size: 24px;
      font-weight: bold;
      padding: 12px 0;
      border-top: 1px solid #e8e8e8;
      border-bottom: 1px solid #e8e8e8;
      text-align: center;
    }
  }
}
