@mixin animationAll {
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@mixin animationAllFast {
  transition: all 80ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

$main-buy-color: #70c573;
$main-sell-color: #e18284;

$tip-info-color: rgba(49, 50, 56, 0.5);

//animations

@keyframes keyFrame_ListItem_active {
  from {
    background-color: transparent;
  }
  to {
    background-color: #3a444d;
  }
}

@keyframes keyFrame_ListItem_inactive {
  from {
    background-color: #3a444d;
  }
  to {
    background-color: transparent;
  }
}

@keyframes keyFrame_ListItem_onClick {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.4;
  }
}

@keyframes keyFrame_ListItem_new {
  //0% {
  //  background-color: transparent;
  //}

  //#292929

  30% {
    background-color: #292929;
  }
  100% {
    background-color: transparent;
  }
}

@mixin listHoverAnimation {
  animation: keyFrame_ListItem_inactive 180ms linear;
  &:hover {
    animation: keyFrame_ListItem_active 100ms linear;
    background-color: #3a444d;
  }
  &:active {
    animation: keyFrame_ListItem_onClick 100ms linear;
    opacity: 0.4;
  }
}
