.ant-table {
  color: white !important;
  line-height: 1;

  .ant-table-thead {
    color: white !important;
    > tr > th {
      color: white !important;
    }
  }
}

.ant-tabs-nav .ant-tabs-tab {
  color: white;
}

.ant-tabs-tab-prev,
.ant-tabs-tab-next {
  color: white !important;
}

.Nf {
  .invalidSection {
    //color: #dddddd;
    color: rgba(128, 128, 128, 0.61);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white !important;
}

.ant-badge-status-text {
  color: white !important;
}
