.ant-table {
  color: white !important;
  line-height: 1;

  .ant-table-thead {
    color: white !important;
    > tr > th {
      color: white !important;
    }
  }
}

.ant-tabs-nav .ant-tabs-tab {
  color: white;
}

.ant-tabs-tab-prev,
.ant-tabs-tab-next {
  color: white !important;
}

.Nf {
  .invalidSection {
    //color: #dddddd;
    color: red;
  }
}
