@font-face {
  font-family: "BaseFont";
  src: url("./font/opensans-regular-webfont.woff2") format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "BaseFont";
  src: url("./font/opensans-bold-webfont.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "AtlasTypewriter";
  src: url("./font/AtlasTypewriter-Bold-Web.woff2") format("woff2");
  font-weight: Bold;
}

@font-face {
  font-family: "AtlasTypewriter";
  src: url("./font/AtlasTypewriter-Regular-Web.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "AtlasTypewriter";
  src: url("./font/AtlasTypewriter-Medium-Web.woff2") format("woff2");
  font-weight: 500;
}
