.GridTest {
  .ant-card {
    height: 100%;
    display: flex;
    flex-direction: column;

    .ant-card-head {
      //cursor: pointer;
    }

    .ant-card-body {
      flex: 1;
      display: flex;
      flex-direction: column;

      > .ant-tabs {
        height: 100%;
        display: flex;
        flex-direction: column;

        .ant-tabs-bar {
        }

        .ant-tabs-content {
          flex: 1;
          //display: flex;
          //flex-direction: column;

          .ant-tabs-tabpane {
            height: 100%;
          }
        }
      }
    }
  }

  //.UpdatableCard {
  //  background: #15232c;
  //  display: flex;
  //  flex-direction: column;
  //  height: 100%;
  //
  //  .ant-card-body {
  //    flex: 1;
  //  }
  //
  //  .ant-tabs {
  //    height: 100%;
  //    display: flex;
  //    flex-direction: column;
  //
  //    .ant-tabs-content {
  //      flex: 1;
  //    }
  //  }
  //}
}
