@import "../../styles/var";

.OrderBook {
  .OrderBookContainer {
    height: 100%;
    display: flex;
    flex-direction: column;

    .OrderBookInnerHeader {
      height: 40px;
      display: flex;
      //justify-content: center;
      //background-color: red;

      .sideBtns {
        display: flex;
        align-items: center;

        .ant-btn {
          margin-left: 8px;
        }
      }
    }

    .centeredContent {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .OrderBookItem {
      display: flex;
      @include animationAllFast;

      &:hover,
      &:active {
        background-color: #cfe0d4;
      }

      > .price {
        flex: 1;
        margin-left: 8px;
      }

      > .size {
        flex: 1;
      }

      > .accumulateSize {
        flex: 1;
        margin-right: 8px;
      }
    }

    .MarketPrice {
      font-size: 24px;
      font-weight: bold;
      padding: 12px 0;
      border-top: 1px solid #e8e8e8;
      border-bottom: 1px solid #e8e8e8;
      text-align: center;
    }
  }
}
