
.MultiGridLayout{
  background: gray;
  padding: 50px;


  .window{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    >.header{
      background: #000000;
      flex: 0 0 24px;
      display: flex;
      justify-content: space-between;
      >.left{
        flex: 1;
      }

      >.right{

      }

    }

    >.container{
      flex: 1;
      background: #222222;
    }
  }


  .react-grid-layout{
    border: 2px dashed yellow;


    .react-grid-item{
      background: #70c573;
    }
  }


}

