@import "../styles/var";

.MultiGridLayout {
  background: gray;
  padding: 50px;

  .react-grid-layout {
    border: 2px dashed yellow;

    .react-grid-item {
      background: #70c573;
    }
  }
}

.SimpleGridLayout {
  .SimpleGridLayoutContainer {
    position: relative;
    height: 999px;
  }

  .RndItem {
    position: relative;

    &.lock {
      > .Grid {
        > .container {
          background: #141313;
        }
        > .header {
          > .windowHeaderLeft {
            cursor: auto;
            pointer-events: none;
          }
        }
      }
    }
  }

  .Grid {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    box-shadow: rgba(109, 148, 222, 0.6) 0px 1px 8px 0px;
    position: relative;

    > .header {
      background: #000000;
      flex: 0 0 24px;
      display: flex;
      justify-content: space-between;
      > .windowHeaderLeft {
        flex: 1;
        cursor: pointer;
      }
      > .windowHeaderRight {
        padding-right: 12px;
        display: flex;
        align-items: center;
        user-select: none;

        > .icon {
          cursor: pointer;
          margin-left: 4px;
          color: white;
          &.off {
            color: rgb(85, 85, 85);
          }
        }
      }
    }

    > .container {
      @include animationAll();
      position: relative;
      flex: 1;
      background: #222222;
    }
  }
}
